.login {
  min-height: 85vh;
  padding: 2rem;
}
.bg-image-login {
  background-image: url('../assets/backup.svg');
  background-color: #fff;
  background-size: cover;
  /* background-position: center; */
}
