.registration,
.image {
  min-height: 80vh;
  padding: 2rem;
}
.bg-image {
  background-image: url('../assets/backup.svg');
  background-color: #fff;
  background-size: cover;
  /* background-position: center; */
}
