.registration {
  min-height: 80vh;
  padding: 2rem;
}
.bg-image-registration {
  background-image: url('../assets/bank2.svg');
  background-color: #f9f9fa;
  background-size: cover;
  /* background-position: center; */
}
